html,
body {
  margin: 0;
  height: 100%;
}
.map {
  width: 100%;
  height: 100%;
  float: left;
}
.title-search {
  top: 65px;
  left: 0.5em;
  display: flex;
}
.pdf-download {
  bottom: 5px;
  left: 0.5em;
  display: flex;
}

#d3 {
  width: 550px;
  height: 700px;
  border: 1px solid rgba(212, 205, 205, 0.63);
  overflow: hidden;
  position: absolute;
  top: 50px;
  right: 0px;
}

/* copied from node_modules/ol-side-panel/src/SidePanel.css and amended */

.ol-side-panel {
  position: absolute;
  top: 5px;
  right: 0.5em;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000;
  padding: 0;
  border-radius: 0;
}

.ol-side-panel-collapsed .ol-side-panel {
  width: 100px;
}

.ol-side-panel .ol-side-panel-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 1px;
  width: 100px;
  height: 100%;
  margin: 1px;
  padding: 1px;
}

.ol-side-panel .ol-side-panel-tabs > button {
  display: block;
  width: 100px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  height: 40px;
  font-size: 12pt;
  overflow: hidden;
  transition: all 80ms;
  cursor: default;
}

.ol-control .ol-side-panel-tabs > button {
  border-radius: 1px;
}

.ol-side-panel-tabs > button.active {
  background-color: rgba(0, 60, 136, 0.7);
}

.ol-side-panel-tabs > .ol-side-panel-tabs-separator {
  margin-top: auto;
  order: 100;
}

.ol-side-panel-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.map-with-ol-side-panel.ol-side-panel-collapsed .ol-side-panel-content {
  display: none;
  overflow-y: hidden;
}

.ol-side-panel-pane {
  display: none;
  left: 0;
  right: 0.5em;
  box-sizing: border-box;
  padding: 10px 20px;
}

.ol-side-panel-pane.active {
  display: block;
}

/* .ol-side-panel-header {
  margin: -10px -20px 0;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14.4pt;
  font-family: Georgia, serif;
  color: rgba(0, 60, 136, 0.7);
} */

.ol-side-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
}

.ol-side-panel-tabs {
  overflow: hidden;
}

.map-with-ol-side-panel .ol-control:not(.ol-side-panel),
.map-with-ol-side-panel .ol-scale-line {
  margin-right: 100%;
}

.map-with-ol-side-panel.ol-side-panel-collapsed .ol-control:not(.ol-side-panel),
.map-with-ol-side-panel .ol-scale-line {
  margin-right: 42px;
}

@media (min-width: 768px) {
  .ol-side-panel {
    top: 6px;
    bottom: 6px;
    right: 6px;
    transition: width 500ms;
    border: 3px solid transparent;
    border-radius: 4px;
  }

  .ol-side-panel-tabs {
    border-radius: 2px 0 0 2px;
  }

  .ol-side-panel-content {
    border-radius: 0 2px 2px 0;
  }

  .map-with-ol-side-panel .ol-control:not(.ol-side-panel),
  .map-with-ol-side-panel .ol-scale-line {
    transition: margin-right 500ms;
  }

  .map-with-ol-side-panel.ol-side-panel-collapsed
    .ol-control:not(.ol-side-panel),
  .map-with-ol-side-panel.ol-side-panel-collapsed .ol-scale-line {
    margin-right: 52px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ol-side-panel {
    width: 700px;
  }

  #d3 {
    width: 700px;
  }

  .ol-side-panel-pane {
    min-width: 265px;
  }

  .map-with-ol-side-panel .ol-control:not(.ol-side-panel),
  .map-with-ol-side-panel .ol-scale-line {
    margin-right: 317px;
  }

  .map-with-ol-side-panel.ol-side-panel-collapsed
    .ol-control:not(.ol-side-panel),
  .map-with-ol-side-panel.ol-side-panel-collapsed .ol-scale-line {
    margin-right: 52px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ol-side-panel {
    width: 792px;
  }

  #d3 {
    width: 692px;
  }

  .ol-side-panel-pane {
    min-width: 350px;
  }

  .map-with-ol-side-panel .ol-control:not(.ol-side-panel),
  .map-with-ol-side-panel .ol-scale-line {
    margin-right: 402px;
  }

  .map-with-ol-side-panel.ol-side-panel-collapsed
    .ol-control:not(.ol-side-panel),
  .map-with-ol-side-panel.ol-side-panel-collapsed .ol-scale-line {
    margin-right: 52px;
  }
}

@media (min-width: 1200px) {
  .ol-side-panel {
    width: 1000px;
  }

  #d3 {
    width: 900px;
  }

  .ol-side-panel-pane {
    min-width: 420px;
  }

  .map-with-ol-side-panel .ol-control:not(.ol-side-panel),
  .map-with-ol-side-panel .ol-scale-line {
    margin-right: 472px;
  }

  .map-with-ol-side-panel.ol-side-panel-collapsed
    .ol-control:not(.ol-side-panel),
  .map-with-ol-side-panel.ol-side-panel-collapsed .ol-scale-line {
    margin-right: 52px;
  }
}

/* 
copied from:
 node_modules/ol-layerswitcher/dist/ol-layerswitcher.css 
 subsequently amended here 
 */

.layer-switcher {
  position: absolute;
  top: 100px;
  left: 0.5em;
  text-align: left;
}

.layer-switcher .panel {
  margin: 0;
  border: 4px solid #eee;
  border-radius: 4px;
  background-color: white;
  display: none;
  max-height: inherit;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.layer-switcher button {
  float: right;
  z-index: 1;
  width: 95px;
  height: 60px;
  background-image: url("./world-map-emoji.png");
  background-repeat: no-repeat;
  background-position: 1px;
  background-color: white;
  border: none;
}

.layer-switcher button:focus,
.layer-switcher button:hover {
  background-color: white;
}
.layer-switcher.shown {
  overflow-y: hidden;
}
.layer-switcher.shown.ol-control {
  background-color: transparent;
}

.layer-switcher.shown.ol-control:hover {
  background-color: transparent;
}
.layer-switcher.shown .panel {
  display: block;
}

.layer-switcher.shown button {
  display: none;
}

.layer-switcher.shown.layer-switcher-activation-mode-click > button {
  display: block;
  background-image: unset;
  right: 2px;
  position: absolute;
  background-color: #eee;
  margin: 0 1px;
}

.layer-switcher.shown button:focus,
.layer-switcher.shown button:hover {
  background-color: #fafafa;
}

.layer-switcher ul {
  list-style: none;
  margin: 1.6em 0.4em;
  padding-left: 0;
}
.layer-switcher ul ul {
  padding-left: 1.2em;
  margin: 0.1em 0 0 0;
}
.layer-switcher li.group + li.group {
  margin-top: 0.4em;
}
.layer-switcher li.group + li.layer-switcher-base-group {
}

/* .layer-switcher li.group > label {
  font-weight: bold;
} */

.layer-switcher.layer-switcher-group-select-style-none li.group > label {
  padding-left: 1.2em;
}

.layer-switcher li {
  position: relative;
  margin-top: 0.3em;
}

.layer-switcher li input {
  position: absolute;
  left: 0.5em;
  height: 1em;
  width: 1em;
  font-size: 1em;
}
.layer-switcher li label {
  padding-left: 1.7em;
  padding-right: 1.2em;
  display: inline-block;
  margin-top: 1px;
}

.layer-switcher label.disabled {
  opacity: 0.4;
}

.layer-switcher input {
  margin: 0px;
}

.layer-switcher.touch ::-webkit-scrollbar {
  width: 4px;
}

.layer-switcher.touch ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.layer-switcher.touch ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

li.layer-switcher-base-group > label {
  padding-left: 1.2em;
}

.layer-switcher .group button {
  position: absolute;
  left: 0;
  display: inline-block;
  vertical-align: top;
  float: none;
  font-size: 1em;
  width: 1em;
  height: 1em;
  margin: 0;
  background-position: center 2px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAW0lEQVR4nGNgGAWMyBwXFxcGBgaGeii3EU0tXHzPnj1wQRYsihqQ+I0ExDEMQAYNONgoAN0AmMkNaDSyQSheY8JiaCMOGzE04zIAmyFYNTMw4A+DRhzsUUBtAADw4BCeIZkGdwAAAABJRU5ErkJggg==");
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.layer-switcher .group.layer-switcher-close button {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.layer-switcher .group.layer-switcher-fold.layer-switcher-close > ul {
  overflow: hidden;
  height: 0;
}

/*layerswitcher on the left*/
.layer-switcher.shown.layer-switcher-activation-mode-click {
  padding-left: 34px;
}
.layer-switcher.shown.layer-switcher-activation-mode-click > button {
  left: 0;
  border-right: 0;
}

/*layerswitcher on the right*/
/*
.layer-switcher.shown.layer-switcher-activation-mode-click {
  padding-right: 34px;
}
.layer-switcher.shown.layer-switcher-activation-mode-click > button {
  right: 0;
  border-left: 0;
}
*/

/* CSS from ol.css
amended here */

.ol-box {
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid blue;
}

.ol-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute;
}

.ol-scale-line {
  background: rgba(0, 60, 136, 0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}
.ol-scale-line-inner {
  border: 1px solid #eee;
  border-top: none;
  color: #eee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
  transition: all 0.25s;
}
.ol-scale-bar {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.ol-scale-step-marker {
  width: 1px;
  height: 15px;
  background-color: #000000;
  float: right;
  z-index: 10;
}
.ol-scale-step-text {
  position: absolute;
  bottom: -5px;
  font-size: 12px;
  z-index: 11;
  color: #000000;
  text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
}
.ol-scale-text {
  position: absolute;
  font-size: 14px;
  text-align: center;
  bottom: 25px;
  color: #000000;
  text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
}
.ol-scale-singlebar {
  position: relative;
  height: 10px;
  z-index: 9;
  box-sizing: border-box;
  border: 1px solid black;
}

.ol-unsupported {
  display: none;
}
.ol-viewport,
.ol-unselectable {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ol-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
.ol-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}
.ol-control:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.ol-zoom {
  top: 0.5em;
  left: 0.5em;
}
.ol-rotate {
  top: 0.5em;
  right: 0.5em;
  transition: opacity 0.25s linear, visibility 0s linear;
}
.ol-rotate.ol-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s linear, visibility 0s linear 0.25s;
}
.ol-zoom-extent {
  top: 4.643em;
  left: 0.5em;
}
.ol-full-screen {
  right: 0.5em;
  top: 0.5em;
}

.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 1.14em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: 0.4em;
  background-color: rgba(0, 60, 136, 0.5);
  border: none;
  border-radius: 2px;
}
.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.ol-zoom-extent button {
  line-height: 1.4em;
}
.ol-compass {
  display: block;
  font-weight: normal;
  font-size: 1.2em;
  will-change: transform;
}
.ol-touch .ol-control button {
  font-size: 1.5em;
}
.ol-touch .ol-zoom-extent {
  top: 5.5em;
}
.ol-control button:hover,
.ol-control button:focus {
  text-decoration: none;
  background-color: rgba(0, 60, 136, 0.7);
}
.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0;
}
.ol-zoom .ol-zoom-out {
  border-radius: 0 0 2px 2px;
}

.ol-attribution {
  text-align: right;
  bottom: 0.3em;
  left: 3em;
  max-width: calc(100% - 1.3em);
  display: flex;
  flex-flow: row-reverse;
  align-items: flex-end;
}
.ol-attribution ul {
  margin: 0;
  padding: 1px 0.5em;
  color: #000;
  text-shadow: 0 0 2px #fff;
}
.ol-attribution li {
  display: inline;
  list-style: none;
}
.ol-attribution li:not(:last-child):after {
  content: " ";
}
.ol-attribution img {
  max-height: 2em;
  max-width: inherit;
  vertical-align: middle;
}
.ol-attribution button {
  flex-shrink: 0;
}
.ol-attribution.ol-collapsed ul {
  display: none;
}
.ol-attribution:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8);
}
.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
}
.ol-attribution.ol-uncollapsible img {
  margin-top: -0.2em;
  max-height: 1.6em;
}
.ol-attribution.ol-uncollapsible button {
  display: none;
}

.ol-zoomslider {
  top: 4.5em;
  left: 0.5em;
  height: 200px;
}
.ol-zoomslider button {
  position: relative;
  height: 10px;
}

.ol-touch .ol-zoomslider {
  top: 5.5em;
}

.ol-overviewmap {
  left: 0.5em;
  bottom: 0.5em;
}
.ol-overviewmap.ol-uncollapsible {
  bottom: 0;
  left: 0;
  border-radius: 0 4px 0 0;
}
.ol-overviewmap .ol-overviewmap-map,
.ol-overviewmap button {
  display: block;
}
.ol-overviewmap .ol-overviewmap-map {
  border: 1px solid #7b98bc;
  height: 150px;
  margin: 2px;
  width: 150px;
}
.ol-overviewmap:not(.ol-collapsed) button {
  bottom: 2px;
  left: 2px;
  position: absolute;
}
.ol-overviewmap.ol-collapsed .ol-overviewmap-map,
.ol-overviewmap.ol-uncollapsible button {
  display: none;
}
.ol-overviewmap:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8);
}
.ol-overviewmap-box {
  border: 2px dotted rgba(0, 60, 136, 0.7);
}

.ol-overviewmap .ol-overviewmap-box:hover {
  cursor: move;
}
